<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Pokédex</title>
</head>

<body>

    <main>

        <section id ='cadastro'>
            
            <form action="/add" method='post'>
                
                <label for='numero'> Número: </label>
                <input type='text' id='numero' name='numero'>
                <label for='nome'> Nome: </label>
                <input type='text' id='nome' name='nome'>
                <label for='imagem'> link da imagem: </label>
                <input type='text' id='imagem' name='imagem'>
                <label for='tipo'> Tipo: </label>
                <input type='tipo' id='classificaçao' name='tipo'>
                <label for='altura'> Altura: </label>
                <input type='text' id='altura' name='altura'>
                <label for='peso'> Peso: </label>
                <input type='text' id='peso' name='peso'>
                <label for='categoria'> Categoria: </label>
                <input type='text' id='categoria' name='categoria'>
                <label for='habilidade'> Habilidade: </label>
                <input type='text' id='habilidade' name='habilidade'>        
                <label for='descriçao'> Descrição: </label>
                <input type='text' id='descriçao' name='descriçao'>

                

                <button id='cadastrar' type='submit'></button>
                <label id="btnLabel">Cadastrar</label>
                
            </form>

            <div>
                <h2>Cadastre um Pokémon !!!</h2>                        
            </div>

       </section>

       

    </main> 
    
</body>
</html>